$base-color: #484A47; // Brown
$highlight-color: #a3b541; // Green
$notification-color: #68bdc8; // Notification
$action-color: #A3B541; // Buttons

// $link: #798249;
$link: #5c8d94;

@import "../admin";
