// $base-color: #ccc7b8;
$base-color: #9C0D13;
$highlight-color: #BB2A30;
$notification-color: #E89424;
$action-color: #BB2A30;

$body-background: #ECEBE7;

$menu-text: #e1b6b8;
$menu-icon: #e1b6b8;

// $menu-submenu-text: #4d4b45;
$menu-submenu-background: #821116;
$menu-submenu-background-alt: #821116;

$menu-submenu-focus-text: #FFF;
$menu-submenu-current-text: #FFF;

// $menu-collapse-text: #4d4b45;
// $menu-collapse-icon: #66635c;
// $menu-collapse-focus-text: #C0262C;
// $menu-collapse-focus-icon: #C0262C;

$link: #BB2A30;
@import "../admin";
